body {
  background-color: #101040;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #e0e0e0;
}
a {
	color: #a0e0e0;
}
li {
	display: block;
}
.status-message {
    background: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
